SUPABASE_PROJECT_NAME="<your-project-name>"
SUPABASE_PROJECT_REF="<your-project-ref>"
SUPABASE_PROJECT_URL="<your-project-url>"
SUPABASE_PUBLISHABLE_KEY="<your-project-key>"
SUPABASE_DB_PASSWORD="<your-project-db-password>"
